#page-dashboard {
    display: flex;
}

#page-dashboard main {
    width: 1120px;
    margin: 64px auto;
    background: transparent;

    padding: 64px 80px;

    overflow: hidden;
}

#page-dashboard main header {
    border-bottom: 2px solid #D3E2E5;
    display: flex;
}

#page-dashboard span {
    color: #8FA7B2;
}

#page-dashboard h1 {
    width: 100%;

    font-size: 32px;
    line-height: 34px;
    color: #4D6F80;
    font-weight: 700;
}